# Core dependencies
python-dotenv
aiohttp
websockets
requests

# Ethereum/Web3
eth-account
eth-utils
web3
msgpack

# Telegram bot
python-telegram-bot

# Database
sqlalchemy
alembic
pg8000

# Utilities
loguru
pydantic

# Testing
pytest
pytest-asyncio
pytest-mock

# Web Server
fastapi
uvicorn
